* {
	margin: 0px;
	padding: 0px;
}
.lro4bg a:hover
{
	color:#34A59E;
}
body {
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 12px;
	color: #000;
}
a {
	color: #000;
	text-decoration: none;
}
.icon_nav img{
	width: 100px;
    height: 80px;
}	
img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
ul, li, ol {
	list-style-type: none;
}
.contents {
	width: 1320px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	z-index: 1;
	height: auto;
}
.clear {
	overflow: hidden;
	z-index: 1;
	height: auto;
	clear: none;
}
.top .top_left {
	/*background-image: url(../images/index_02.png);*/
	  
  background-position: left bottom;
  float: left;
  height: 143px;
  width: 50%;
  margin-top: -36px;
}
.top .top_left h1 {
	text-indent: -9999px;
	height: 233px;
	width: 669px;
}
.top .top_left h1 a {
	display: block;
	height: 233px;
	width: 669px;
}
.top .top_right {
	float: right;
    width: 38%;
  	height: 115px;
}
.top .top_right .input {
	background-image: url(../images/inputbg_05.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 40px;
}
.top .top_right .input li {
	float: left;
	width: 151px;
	line-height: 40px;
	padding-left: 12px;
	color: #fff;
	font-size: 12px;
}
.top .top_right .input .sameinput {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	width: 80px;
	color: #fff;
}
#name {
	background-color: #8FC320;
}
#password {
	background-color: #F39801;
}
.top .top_right p {
	font-size: 18px;
	text-align: right;
	padding-top: 20px;
}
.top .top_right .search {
  padding-left:25%;
  padding-top: 29px;
}

#search {
	height: 41px;
	line-height: 41px;
	background-image: url(../images/searchbg_15.png);
	background-repeat: no-repeat;
	background-position: right center;
	border: 1px solid #000;
	padding-right: 10px;
	padding-left: 10px;
}
.top .top_right .search div {
	float: left;
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix10:after {
	content:".";
	display:block;
	height:10px;
	clear:both;
	visibility:hidden;
}
.h10{height:10px;}
.h15{height:15px;}
#header{width:1000px; margin:0 auto;}
.navBar {
	height: 50px;
	line-height: 50px;
	background: #019d90;
	color: #333;
	width: 100%;
    min-width: 1320px;
}
.nav {
	position: relative;
	width: 1150px;
	margin: 0 auto;
	font-family: "Microsoft YaHei",SimSun,SimHei;
	font-size: 14px;
}
.nav a {
	color:#fff;
}
.nav h3 {
	font-size:100%;
	font-weight:normal;
}
.nav .m {
	float:left;
	position:relative;
	z-index:1;
}
.nav .s {
	float:left;
	width:3px;
	text-align:center;
	color:#D4D4D4;
	font-size:12px;
}
.nav h3 a {
	display:block;
	width:115px;
	text-align:center;
	font-weight:bold;
}
.nav .sub {
	display: none;
	position: absolute;
	left: -3px;
	top: 50px;
	z-index: 1;
	width: 117px;
	border: 1px solid #01897d;
	border-top: 0;
	background: #01897d;
	filter:alpha(opacity=50);  
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 0.5;  
}
.nav .sub li {
	text-align:center;
	padding:0 8px;
	margin-bottom:-1px;
}
.nav .sub li a {
	display: block;
	padding: 8px 0;
	height: 28px;
	line-height: 28px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}
.nav .sub li a:hover {
	color:#FE7700;
}
.nav .block {
	height: 50px;
	width: 120px;
	background: #01897d;
	position: absolute;
	left: 0;
	overflow: hidden;
}
.foot .footnav {
	background-image: url(../images/navbg_150.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 67px;
}
.footnav ul {
	width: 600px;
	margin-right: auto;
	margin-left: auto;
}
.footnav .clear li {
	font-size: 16px;
	line-height: 67px;
	text-align: center;
	float: left;
	height: 67px;
	width: 120px;
	background-image: url(../images/footline_152.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.footnav li a {
	color: #fff;
}
.copyright {
	font-size: 16px;
	background-color: #01a29a;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}
.rollBox{
	width: 1250px;
	overflow: hidden;
	padding-top: 60px;
	padding-right: 0;
	padding-bottom: 25px;
	padding-left: 6px;
	z-index: 1;
	margin-right: auto;
	margin-left: auto;
}
.rollBox .LeftBotton{
	height: 170px;
	width: 23px;
	overflow: hidden;
	float: left;
	display: inline;
	cursor: pointer;
	background-image: url(../images/jiaot_45.png);
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 140px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
.rollBox .RightBotton{
	height: 170px;
	width: 23px;
	overflow: hidden;
	float: left;
	display: inline;
	cursor: pointer;
	background-image: url(../images/jiaotr_48.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: 140px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
.rollBox .Cont{
	width: 1190px;
	overflow: hidden;
	float: left;
	padding-top: 10px;
}
.rollBox .ScrCont{width:10000000px;}
.rollBox .Cont .pic{
	width: 170px;
	float: left;
	text-align: center;
}
.rollBox .pic div {
	padding-bottom: 20px;
}

.rollBox .Cont .pic img{
	display: block;
	margin: 0 auto;
}
.rollBox .Cont .pic p{
	line-height: 26px;
	color: #505050;
	text-align: left;
	width: 113px;
	margin-right: auto;
	margin-left: auto;
}
.rollBox .Cont a:link,.rollBox .Cont a:visited{color:#626466;text-decoration:none;}
.rollBox .Cont a:hover{color:#f00;text-decoration:underline;}
.rollBox #List1,.rollBox #List2{
	float: left;
}
.mysame h3  {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
}
.mysame .clear .myfloat {
	float: left;
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom:50px;
}
.mysame .myfloat li {
	float: left;
	width: 180px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
