/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 700px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 700px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 700px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
   
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* my changed */
.foot-back{
    font-size: 30px;
    color: #555;
}
.foot-icon1:hover{
  color: #337ab7;
}
.foot-icon{
  color: #555;
  display:inline-block;
  width: 20%;
  text-align: center;
}
.foot-icon1{
  text-decoration: none;
  font-size: 1rem;
  color: #555;
  display:inline-block;
  width: 20%;
  text-align: center;
}
.foot-text{
  margin-top: 30px;
  color: #999;
  text-align: center;
}

/* header */
.down-ul{
  display: none;
  list-style: none;
  width: 100%;
  padding: 0;
}
.down-ul li{
  width: 25%;
  float: left;
}
.down-ul img{
  width: 100%;
  padding: 1.5rem;
}
.down-ul p{
  margin-top: 0.5rem;
  text-align: center;
}
.down-a{
  border:1px solid #333;
  font-size: 16px;
  border-radius: 4px;
  padding: 0.5rem 0.8rem;
  color: #333;
}
.down-a:hover{
  color: #fff;
  background-color: #333;
  text-decoration: none;
  transition:0.4s;
}

/* detail */
.detail-hr{
  padding: 3rem;
  border-bottom: 1px solid #ccc;
}
.detail-div{
  padding: 1rem;
}
.detail-img{
  float: left;
  background-color: #333;
  padding: 0 1rem 0 1rem;
}
.detail-img img{
  width: 100%;
}
.detail-text{
  padding: 0 1rem;
  float: right;
}
.detail-text h3{
  font-family: "微软雅黑";
  font-weight: 600;
  color: #337ab7;
}
.detail-text p{
  font-family: "微软雅黑";
  font-size: 14px;
  color: #999;
  margin: 2rem 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:4;
  overflow: hidden;
}
.detail-text a{
  display: inline-block;
  font-family: "微软雅黑";
  padding: 0.8rem 2rem;
  color: #333;
  font-size: 20px;
  border:1px solid #333;
  border-radius: 4px;
  margin: 2rem 1rem;
}
.detail-text a:hover{
  background-color: #333;
  color: #fff;
  text-decoration: none;
  transition:0.4s;
}
.list-group-item{
  font-family: '微软雅黑';
  text-align: center;
  padding: 20px 0;
}
@media (max-width:768px){
.list-group-item{
  text-align: center;
  padding: 10px 0;
}
.detail-text a{
  margin: 0 0.5rem;
  font-size: 14px;
  padding: 0.5rem 1rem;
}
.foot-back{
  font-size: 18px;
}
.foot-text{
  font-size: 12px;
}
.foot-icon1{
  font-size: 12px;
}
}
/* detail */

/* more */
.more-img{
  padding: 5rem 5rem 0  5rem;
}
.more-img img{
  width: 100%;
}
.more-text{
  color: #333;
  padding-top: 5rem ;
  letter-spacing: 1px;
}
.more-text li{
  list-style: none;
  padding: 0.4rem;
  font-family: "微软雅黑";
}
.more-text span{
  color: #337ab7;
  font-size: 18px;
  font-weight: 600;
  
}
.more-a{
  font-family: '微软雅黑';
  font-size: 16px;
  border-radius: 10px;
  color: #fff;
  background-color: #ff7167;
  padding: 2rem 3rem;
  display: inline-block;
  margin: 1rem 3.5rem;
}
.more-a:visited{
  text-decoration: none;
  color: #fff;
}
.more-a:hover{
  color: #fff;
  background-color: #de2f23;
  font-size: 24px;
  transition:0.4s;
  text-decoration: none;
}
.more-imgs img{
  display: block;
  width: 100%;
}
/* more */

/* footer */
footer{
  margin-top: 2rem;
}
/* footer */