.bar2{
	background-color: #f60;
}
.title1{
	font-family: "微软雅黑";
	color: #fff;
	font-size: 1.0rem;
}
.dizhi{
	list-style: none;
	padding: 0;
	margin-top: 7rem;
}
.dizhi li{
	text-align: center;
}
.dizhii{
	width: 40%;
}
.dizhit{
	margin-top: 0.5rem;
	color: #f60;
	font-size: 0.8rem;
}
.icon-fanhui{
    color: #fff;
}
.ad3{
    margin: 0px;
    padding-top: 0.3rem;
    padding-bottom: 0.5rem;
    margin-top: 0.2rem;
    background-color: #fff;
    list-style: none;
}
.ad3 li{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.admob{
    margin-left: 2rem;
}
.adad{
    color: #999;
    font-size: 0.7rem;
}
.icon-yuanquan{
    color: #333;
}
.icon-hookring2{
    color: #f60;
}
.del{
    margin-right: 1rem;
    color: #333;
    border: 1px solid #333;
    font-size: 0.6rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}
.del:hover{
    color: #fff;
    background-color: #f60;
}
.admo{
    margin-left: 0.2rem;
    font-size: 0.6rem;
}
.navcolor{
    background-color: #fff;
}
#cola{
	background-color: #f60;
}
#cola a{
	color: #fff;
}
.icon-fanhui{
	color: #fff;
}