@charset "utf-8";
/* CSS Document */
.rollBox{
	width: 96%;
	overflow: hidden;
	
	z-index: 1;
	margin-right: auto;
	margin-left: auto;
}
.rollBox .LeftBotton{
	height:170px;
	width:18px;
	overflow:hidden;
	float:left;
	display:inline;
	cursor:pointer;
	background-size:100%;
    background-image: url(../images/jiaot_45.png);
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 45px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
.rollBox .RightBotton{
	height:170px;
	width:18px;
	overflow:hidden;
	float:left;
	display:inline;
	cursor:pointer;
	background-size:100%;
    background-image: url(../images/jiaotr_48.png);
	background-repeat: no-repeat;
	background-position: center center;
	position:absolute;
	right:0px;
	top:30px;
}

.rollBox .Cont{
	width: 90%;
	overflow: hidden;
	float: left;
	padding-top: 10px;
	margin-left:7px;
}
.rollBox .ScrCont{width:10000000px;}
.rollBox .Cont .pic{
	width: 150px;
	float: left;
	/*text-align: center;*/
}
.rollBox .Cont .pic img{
	padding:4px;
	background:#fff;
	display:block;
	margin:0 auto;
}
.rollBox .Cont .pic p{line-height:26px;color:#505050;}
.rollBox .Cont a:link,.rollBox .Cont a:visited{color:#626466;text-decoration:none;}
.rollBox .Cont a:hover{color:#f00;text-decoration:underline;}
.rollBox #List1,.rollBox #List2{float:left;}

