.index-head{
	width: 100%;
	background-color: #fff;
	height: 3rem;
}
.index-more{
	height: 3rem;	
	width: 20%;
	float: left;
}
.index-more img{
	vertical-align: middle;
	width: 40%;
	margin: 1rem;
	display: block;
}
.index-logo{
	height: 3rem;
	width: 50%;
	float: left;	
}
.index-logo img{
	vertical-align: middle;
	
	width: 100%;
	margin: 0 15%;
}
.index-bg{
	width: 100%;
	height: 9rem;
}
.index-bg img{
	display: block;
	width: 100%;
	height: 9rem;
}
.index-search{
	width: 100%;
	height: 2rem;
	background-color: #fff;
	position: relative;
}
#search{
	width: 90%;
	padding: 0.1rem;
	margin-top: 0.3rem;
	margin-left: 0.5rem;
	border: 2px solid #019d90;
	border-radius: 0.3rem;
}
.search1{
	position: absolute;
	top: 0.5rem;
	right: 0.8rem;
}
.index-search img{
	width: 60%;
}

.index-icon{
	width: 32%;
	float: left;
	margin-top: 1%;
	margin-left: 1%;
	background-color: #fff;
}
.index-icon img{
	display: block;
	width: 100%;
	padding: 0.2rem 0.5rem;
}
.index-ul{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 2%;
}
.index-li{
	width: 33%;
	float: left;
}
.index-li a{
	width: 100%;
	display: block;
	padding: 0.5rem 1.3rem;
	color: #fff;
	background-color: #019d90;
	font-family: "微软雅黑";
	text-align: center;
	font-size: 0.7rem;
}
.index-li a:hover{
	background-color: #41ccc0;
}

.index-msg{
	width: 100%;
	background-color: #fff;
	overflow: hidden;
}
.msg-ul{
	
	list-style: outside;
	margin: 0;
	width: 100%;
	padding: 0.7rem 0.5rem;
	padding-left: 1.5rem;
}
.msg-ul a{
	color: #333;
}
.msg-li{
	margin-bottom: 0.5rem;
	font-size: 0.5rem;
}

.index-person{
	background-color: #fff;
	width: 100%;
	height: 10rem;
	margin-top: 2%;
	overflow: hidden;
}
.person-title{
	margin: 0;
}
.person-img{
	vertical-align: middle;
	width: 4%;
	margin-right: 0.3rem;
}
.person-title span{
	padding: 0.3rem;
	display: block;
	text-align: center;
	width: 100%;
	font-size: 0.8rem;
	color: #019d90;
	font-family: "微软雅黑";
}
.person-lunbo{
	width: 100%;
	padding: 0.3rem 0.7rem;
	background-color: #999;
	height: 6rem;
}

.index-link{
	background-color: #fff;
	width: 100%;
	margin-top: 0.3rem;
	padding: 0.2rem;
}
.link-border{
	width: 90%;
	margin: 2% 5%;
	border: 3px solid #019d90;
	border-radius: 0.7rem;
}
.link-border ul{
	padding: 0;
	width: 100%;
	margin: 0;
	list-style: none;
}
.link-li{
	width: 20%;
	float: left;
}
.link-li img{
	width: 100%;
	padding: 0.5rem 0.8rem 0.1rem;
	
}
.link-li p{
	padding-bottom: 0.5rem;
	text-align: center;
	color: #999;
	margin: 0;
	font-size: 0.6rem;
}

.index-zhuanfa{
	margin-top: 1%;
	background-color: #fff;
	width: 100%;
	height: 6rem;
}
.left,.right{
	margin-top: 0.3rem;
	display: block;
}
.zhuanfa-ul{
	overflow: hidden;
	padding: 0;
	margin: 0;
	list-style: none;
}
.zhuanfa-li{
	float: left;
	width: 23%;
	margin-left:0.3rem ;
	display: block;
	background-color: #019d90;
	padding: 0.7rem 0.2rem;
	font-size: 0.6rem;
	color: #fff;
}

.foot{
	width: 100%;
}
.foot-ul{
	width: 90%;
	margin: 3% 5%;
	list-style: none;
	padding: 0;
}
.foot-li{
	font-family: "微软雅黑";
	float: left;
	font-size: 0.7rem;
	color: #019d90;
	width: 25%;
	display: block;
	text-align: center;
}
.index-banquan{
	color: #999;
	width: 100%;
	text-align: center;
	font-size: 0.5rem;
}
.panel{
	width: 6rem;
}